@import "~vuetify/src/styles/styles.sass";

* {
  font-display: swap;
}

.no-active::before {
  display: none;
}

html {
  overflow-y: auto !important;
}

.snackbar > div {
  min-width: 300px;
}

.toolbar > .v-toolbar__content {
  padding: 0px !important;
}

div.v-snack:not(.v-snack--absolute) {
  height: 100%;
}

.rounded-dialog {
  border-radius: #{map-get($rounded, 'lg')} !important;
}

.fix-tabs .v-slide-group__prev {
  display: none !important;
}

textarea {
  line-height: normal !important;
  margin-bottom: 8px;
}

.default-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important
}